{:paths   ["src"]
 :deps    {funcool/urania  {:mvn/version "0.2.0"}
           funcool/promesa {:mvn/version "5.1.0"}
           org.clojure/tools.logging {:mvn/version "0.6.0"}}

 :mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"}
  "clojars" {:url "https://clojars.org/repo"}}}
